h1 {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  display: block;
  padding: 15px;
  width: 65%;
  outline: solid black;
  background-color: white;
}

#form {
  margin: 20px;
  display: block;
  padding: 15px;
  outline: solid black;
  background-color: white;
}

#output-box {
  display: none;
  margin: 20px;
  padding: 15px;
  outline: solid black;
  background-color: white;
  margin-bottom: 100px;
}

.mr-roboger {
  top: 20px;
  left: 20px;
  position: fixed;
  width: 15%;
  height: 30%;
  outline: dotted pink;
}

.mr-roboger-2 {
  top: 20px;
  right: 20px;
  position: fixed;
  width: 15%;
  height: 30%;
  outline: dotted pink;
}

.roger-background {
  background-image: url(../img/background-roger.jpg);
  background-attachment: fixed;
}

.btn {
  color: white;
  background-color: red;
  border-radius: 25px;
}

.trolley {
  position: relative;
  bottom: -30px;
  height: 100px;
  width: auto;
}

.trolley-smoke {
  transform: scaleX(-1);
  position: relative;
  right: 150px;
  bottom: -30px;
  height: 50px;
  width: auto;
}

.robo-wave {
  position: relative;
  left: 100px;
  bottom: 5px;
  height: 50px;
  width: auto;
}
.robo-talk {
  float: left;
  height: 50px;
  margin-right: 10px;
}
.footer-gif {
  width: 100%;
  position: fixed;
  bottom: 0px;
}

