h1 {
  text-align: center;
  margin: 20px;
  display: block;
  padding: 15px;
  outline: solid black;
  background-color: white;
}

#form {
  margin: 20px;
  display: block;
  padding: 15px;
  outline: solid black;
  background-color: white;
}

#outputBox {
  display: none;
  margin: 20px;
  padding: 15px;
  outline: solid black;
  background-color: white;
}

.mr-roboger {
  float: left;
  width: auto;
  height: 300px;
}

.mr-roboger-2 {
  float: right;
  width: auto;
  height: 300px;
}
.roger-background {
  background-image: url(../img/background-roger.jpg);
}

